    <header>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('courses') }}" class="nav-link">Classes</a></li>
                <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">Login</a></li>
            </ul>
        </nav>
        <hr style="clear:both">
    </header>